<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>462724652078-3kulo01dkm8hpv0svs3kl469bhkhnnau.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.462724652078-3kulo01dkm8hpv0svs3kl469bhkhnnau</string>
	<key>API_KEY</key>
	<string>AIzaSyDmDCaahyk4T7BeRI9UWNogT3qUGge3orE</string>
	<key>GCM_SENDER_ID</key>
	<string>462724652078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.noteyioFlutter</string>
	<key>PROJECT_ID</key>
	<string>noteyio-cecaf</string>
	<key>STORAGE_BUCKET</key>
	<string>noteyio-cecaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462724652078:ios:3efec0ed6964fb9ed793bf</string>
</dict>
</plist>